body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    background: linear-gradient(rgb(243, 229, 171), rgb(243, 171, 185));
    font-family: 'Cinzel', serif;
    }